.main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}

.center-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 100vh;
}

.summer{
    background: orange;
}
.winter{
    background: rgb(164, 164, 219)
}
 .sun{
    color: red;
}

.snowflake{
    color: blue;
}


.left-icon{
    position: absolute;
    top: 10px;
    left: 10px;
}

.right-icon{
    position: absolute;
    bottom: 10px;
    right: 10px;
}